<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.release.barangayapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarangayApp">
        <activity android:name=".AboutUs"></activity>
        <activity android:name=".AdminChatSupport" />
        <activity android:name=".Logbook" />
        <activity android:name=".Reports" />
        <activity android:name=".Notifications" />
        <activity android:name=".ChatSupport" />
        <activity android:name=".CovidSymptomSurvey" />
        <activity android:name=".NewsFeed" />
        <activity android:name=".AdminMainMenu" />
        <activity android:name=".Emergency" />
        <activity android:name=".UserMainMenu" />
        <activity android:name=".UserLogin" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BarangayApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>